# Next steps 
- connect precip to DF,
- add new sites (e.g., regionval) to training DF with all the respective spatial resolution information
- connect regional data together to train model
- connect different regions
- add precipitation phase features (seasonal accumulated rain precip, seasonal accumulated snow precip as a function of temperature)
- explore adding other features stemming from SNOTEL, remote sensing (LULC), Snow Classifications (Sturms), energy balance

Put all units in SI, while it should not matter for model training since they are being normalized, they will be more interpretable.

In [57]:
region = 'S_Sierras'
output_res = 300
folder_path = f"{HOME}/SWEMLv2.0/data/TrainingDFs/{region}/{output_res}M_Resolution/GeoObsDFs"
files = [file for file in os.listdir(folder_path)]
files.sort()

files[60:]

['GeoObsdfs_20170816.parquet',
 'GeoObsdfs_20180304.parquet',
 'GeoObsdfs_20180422.parquet',
 'GeoObsdfs_20180423.parquet',
 'GeoObsdfs_20180425.parquet',
 'GeoObsdfs_20180426.parquet',
 'GeoObsdfs_20180528.parquet',
 'GeoObsdfs_20180601.parquet',
 'GeoObsdfs_20180602.parquet',
 'GeoObsdfs_20190309.parquet',
 'GeoObsdfs_20190315.parquet',
 'GeoObsdfs_20190316.parquet',
 'GeoObsdfs_20190317.parquet',
 'GeoObsdfs_20190324.parquet',
 'GeoObsdfs_20190325.parquet',
 'GeoObsdfs_20190326.parquet',
 'GeoObsdfs_20190329.parquet',
 'GeoObsdfs_20190417.parquet',
 'GeoObsdfs_20190418.parquet',
 'GeoObsdfs_20190421.parquet',
 'GeoObsdfs_20190427.parquet',
 'GeoObsdfs_20190428.parquet',
 'GeoObsdfs_20190501.parquet',
 'GeoObsdfs_20190502.parquet',
 'GeoObsdfs_20190503.parquet',
 'GeoObsdfs_20190604.parquet',
 'GeoObsdfs_20190605.parquet',
 'GeoObsdfs_20190608.parquet',
 'GeoObsdfs_20190609.parquet',
 'GeoObsdfs_20190611.parquet',
 'GeoObsdfs_20190613.parquet',
 'GeoObsdfs_20190614.parquet',
 'GeoObsdfs_20190703.parquet',
 'GeoObsdfs_20190704.parquet',
 'GeoObsdfs_20190705.parquet',
 'GeoObsdfs_20190713.parquet',
 'GeoObsdfs_20190714.parquet',
 'GeoObsdfs_20190715.parquet',
 'GeoObsdfs_20190716.parquet']

In [58]:
Vfiles = [file for file in os.listdir(folder_path)]
Vfiles.sort()
len(Vfiles)

99

In [51]:
# find out why throwing NaNs
# make sure all files are done

import os
import pandas as pd
from tqdm import tqdm
import numpy as np

HOME = os.path.expanduser('~')


region = 'S_Sierras'
output_res = 300
folder_path = f"{HOME}/SWEMLv2.0/data/TrainingDFs/{region}/{output_res}M_Resolution/VIIRSGeoObsDFs/20_fSCA_Thresh"
Vfiles = [file for file in os.listdir(folder_path)]
Vfiles.sort()
#Vfiles

len(Vfiles)

# for file in Vfiles:
#     x = pd.read_parquet(os.path.join(folder_path, file), engine='fastparquet')
#     print(file)

91

In [52]:
Vfiles[91:]

[]

In [27]:
x['cen_lon'] =np.round(x['cen_lon'], 3)
x['cen_lat'] =np.round(x['cen_lat'], 3)
x

,cell_id,Date,cen_lat,cen_lon,Elevation_m,Slope_Deg,Aspect_Deg,swe_m,nearest_site_1,nearest_site_2,nearest_site_3,nearest_site_4,nearest_site_5,nearest_site_6,VIIRS_SCA,hasSnow
0,S_Sierras_300M_37.74_-119.189,2019-03-15,37.740,-119.189,3023,9,199,0.0,7.65006,29.98,37.88,36.86,48.720000,32.95,NaN,False
1,S_Sierras_300M_37.737_-119.192,2019-03-15,37.737,-119.192,3047,17,183,0.0,7.65006,29.98,37.88,36.86,48.720000,32.95,NaN,False
2,S_Sierras_300M_37.737_-119.189,2019-03-15,37.737,-119.189,3023,9,199,0.0,7.65006,29.98,37.88,36.86,48.720000,32.95,NaN,False
3,S_Sierras_300M_37.737_-119.186,2019-03-15,37.737,-119.186,2994,13,162,0.0,7.65006,29.98,37.88,36.86,48.720000,32.95,NaN,False
4,S_Sierras_300M_37.737_-119.184,2019-03-15,37.737,-119.184,2926,33,175,0.0,7.65006,29.98,37.88,36.86,48.720000,32.95,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59031,S_Sierras_300M_36.992_-119.64,2019-03-15,36.992,-119.640,300,28,83,0.0,46.44000,33.36,55.20,39.24,8.787872,48.66,0.0,False
59032,S_Sierras_300M_36.992_-119.637,2019-03-15,36.992,-119.637,300,25,88,0.0,46.44000,33.36,55.20,39.24,8.787872,48.66,NaN,False
59033,S_Sierras_300M_36.992_-119.634,2019-03-15,36.992,-119.634,301,19,72,0.0,46.44000,33.36,55.20,39.24,8.787872,48.66,0.0,False
59034,S_Sierras_300M_36.992_-119.632,2019-03-15,36.992,-119.632,303,25,90,0.0,46.44000,33.36,55.20,39.24,8.787872,48.66,0.0,False
59035,S_Sierras_300M_36.989_-119.64,2019-03-15,36.989,-119.640,300,28,83,0.0,46.44000,33.36,55.20,39.24,8.787872,48.66,0.0,False

In [15]:
import pickle as pkl
nearest_snotel_dict_path = f"{HOME}/SWEMLv2.0/data/TrainingDFs/{region}/{output_res}M_Resolution"

#Load dictionary of nearest sites
print(f"Loading {output_res}M resolution grids for {region} region")
with open(f"{nearest_snotel_dict_path}/nearest_SNOTEL.pkl", 'rb') as handle:
    nearest_snotel = pkl.load(handle)

Loading 300M resolution grids for S_Sierras region

In [19]:
nearest_snotel['S_Sierras_300M_36.994_-119.624']

KeyError: 'S_Sierras_300M_36.994_-119.624'

In [3]:
cell_ids = aso_file.cell_id.unique()
siteave_dic = {}
from tqdm import tqdm

print(f"Getting unique cell ids and taking the spatial average to get {output_res} m resolution")
[average_duplicates(cell_id, aso_file, siteave_dic) for cell_id in tqdm(cell_ids[:5])]

Getting unique cell ids and taking the spatial average to get 300 m resolution

100%|██████████| 5/5 [00:00<00:00, 15.71it/s]

[None, None, None, None, None]

In [5]:
pd.concat(siteave_dic)

,,cell_id,cen_lat,cen_lon,swe_m
S_Sierras_300M_38.186_-119.59,S_Sierras_300M_38.186_-119.59,S_Sierras_300M_38.186_-119.59,38.186,-119.590,0.80
S_Sierras_300M_38.186_-119.589,S_Sierras_300M_38.186_-119.589,S_Sierras_300M_38.186_-119.589,38.186,-119.589,0.42
S_Sierras_300M_38.186_-119.591,S_Sierras_300M_38.186_-119.591,S_Sierras_300M_38.186_-119.591,38.186,-119.591,1.21
S_Sierras_300M_38.186_-119.588,S_Sierras_300M_38.186_-119.588,S_Sierras_300M_38.186_-119.588,38.186,-119.588,0.31
S_Sierras_300M_38.185_-119.592,S_Sierras_300M_38.185_-119.592,S_Sierras_300M_38.185_-119.592,38.185,-119.592,0.56

In [ ]:
aso_file.drop_duplicates(subset=['cell_id'], inplace=True)
aso_file

In [ ]:
cols = ['cen_lat', 'cen_lon']
ASO_meta_loc_DF = ASO_meta_loc_DF[cols]
ASO_meta_loc_DF[~ASO_meta_loc_DF.index.duplicated(keep='first')]

In [ ]:
round(37.080205, -3)

In [ ]:
Precippath = f"{HOME}/SWEMLv2.0/data/Precipitation/{region}/{output_res}M_NLDAS_Precip"
ppt = pd.read_hdf(f"{Precippath}/WY{year}.h5", key = '11N_cell_-119.59073383567106_38.18624284828164')
ppt.head()

In [ ]:
aso_gdf

In [ ]:

import os
import pandas as pd

HOME = os.path.expanduser('~')

region = 'S_Sierras'

#ASO observations
aso_swe_files_folder_path = f"{HOME}/SWEMLv2.0/data/TrainingDFs/{region}/Obsdf"

obs1 = pd.read_csv(f"{aso_swe_files_folder_path}/20130403_ObsDF.parquet")

obs1

In [ ]:
cols = [
    'cell_id', 'Date',  'cen_lat', 'cen_lon', 'geometry', 'Elevation_m', 'Slope_Deg',
    'Aspect_Deg', 'swe', 'nearest_site_1', 'nearest_site_2', 'nearest_site_3', 'nearest_site_4', 
    'nearest_site_5', 'nearest_site_6'
    ]